// general styles for the project that wouldn't be a reuseable component

.bg {
  &--grey        { background-color: $grey-lightest; }
  &--beige       { background-color: $cru-beige; }
  &--beige-light { background-color: $cru-beige-light; }
  &--black       { background-color: $grey-darkest; }
}

.site-title {
  position: relative;
  height: 630px;
  padding-top: ($core-nav-height-sm * 1.5);
  padding-bottom: $core-nav-height-sm;
  color: $white;
  @include bp(md){
    padding-top: ($core-nav-height * 1.5);
    padding-bottom: $core-nav-height;
    .flexbox & {
      padding-top: $core-nav-height;
    }
  }
  @include vbp(630px){
    height: 100%;
    padding-top: 22.5vh;
  }
  .flexbox & {
    display: flex;
    align-items: center;
    padding-top: $core-nav-height-sm;
  }

}

.site__bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-background;
  background-image: url('../img/bg/bg.jpg');
  background-color: #241a3c;
  @include background-attributes;
}

// colour shows on mobile scroll
body { background-color: #241a3c; }

.is-stuck {
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: $z-nav-upper;
}

.section {
  position: relative;
  min-height: 100%;
  @include background-attributes;
}

.topic {
  @include layout(12 1);
  &__image { width: 100%; }
  &__text,
  &__image {
    max-width: $lg;
    margin-top: $s6;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $s0;
  }
  &--center { text-align: center; }
  @include bp(xxl){
    &--center { text-align: left; }
    &__text  { @include span(6); }
    &__image { @include span(last 6); }
    .flexbox & {
      display: flex;
      align-items: center;
    }
  }
}

.image-block {
  line-height: 0;
  &__image {
    position: relative;
    display: inline-block;
    float: left;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $grey-dark;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 56.25%;
    }
    &:first-child { width: 100%; }
  }
  &--16-9 &__image:before {
    padding-top: 56.25%;
  }
}

.pois {
  margin-top: $s4;
  padding: $s4 $s0;
  text-align: center;
  color: $cru-red;
  background-color: rgba($cru-beige-light,.4);
  &__list {
    margin-top: $s1;
    line-height: 1;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }
}

.poi {
  position: relative;
  display: inline-block;
  width: 210px;
  cursor: pointer;
  background-color: $grey;
  &:before{
    content: '';
    position: absolute;
    z-index: $z-content-upper;
    right: 8px;
    bottom: 8px;
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('../img/icons/plus.png');
    .svg & { background-image: url('../img/icons/plus.svg'); }
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .bg-img {
    opacity: .75;
    transition: opacity $transition-time ease;
  }
  &:hover .bg-img { opacity: 1; }
  & + &           { margin-left: 10px; }
  @include bp(large){
    & + & { margin-left: 20px; }
  }
}

.banner-title {
  max-width: 420px;
  padding-top: $s3;
  padding-left: $s4;
  padding-right: $s4;
  padding-bottom: $s0;
  @include bp(lg){
    padding-left: 0;
    padding-right: 0;
    max-width: 850px;
  }
}